@{
    ViewBag.Title = "Login";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container">
    <div class="frame d-flex justify-content-center align-items-center">
        <!-- Khu vực logo + Đăng nhập bằng Google, Facebook -->
        <div class="logo-section">
            <img src="logo.png" alt="Logo" class="img-fluid" style="width: 100px;">
            <div class="social-login">
                <button class="btn-social btn-google">
                    <i class="fab fa-google"></i>
                </button>
                <button class="btn-social btn-facebook">
                    <i class="fab fa-facebook-f"></i>
                </button>
            </div>
        </div>

        <!-- Khu vực form đăng nhập -->
        <div class="register-container">
            <h2>Login</h2>
            <form>
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" placeholder="Enter username">
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Enter password">
                </div>

                <div class="forgot-password">
                    <a style="color: #5dade2; font-size: 13px;" asp-controller="Account" asp-action="ForgotPassword">forgot-password</a>
                </div>

                <div class="form-group">
                    <label>
                        <input type="checkbox"> Tôi đồng ý với điều khoản và dịch vụ
                    </label>
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
                <div class="text-center no-account">
                    <p style="font-size: 13px;">Chưa có tài khoản? <a style="color: #5dade2; font-size: 13px;" href="@Url.Action("Register", "Account")">Đăng ký ngay</a></p>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    
</style>  