@{
    ViewBag.Title = "Forgot Password";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container">
    <div class="frame d-flex justify-content-center align-items-center">
        <!-- Khu vực logo (Optional) -->
        <div class="logo-section mb-4 text-center">
            <img src="~/Images/tachnen.png" alt="Logo" class="img-fluid rounded-circle" style="width: 400px; height: 200px; object-fit: cover;">
        </div>

        <!-- Khu vực form quên mật khẩu -->
        <div class="register-container">
            <h2>Forgot-password</h2>
            <form>
                <div class="form-group">
                    <label for="username">Username/Email</label>
                    <input type="text" class="form-control" id="username" placeholder="Nhập tên đăng nhập hoặc email">
                </div>

                <div class="form-group">
                    <label for="password">Mật Khẩu Mới</label>
                    <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu mới">
                </div>

                <div class="form-group">
                    <label for="confirmPassword">Xác Nhận Mật Khẩu</label>
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Xác nhận mật khẩu mới">
                </div>

                <button type="submit" class="btn btn-primary">Cập Nhật Mật Khẩu</button>
                <div class="text-center mt-3">
                    <p style="font-size: 13px;">Đã nhớ mật khẩu? <a style="color: #5dade2; font-size: 13px;" href="@Url.Action("Login", "Account")">Đăng nhập ngay</a></p>
                </div>
            </form>
        </div>
    </div>
</div>  